html{
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.img-rec-book{
  height: 100%;
}
.f-lg{
  font-size: 3rem;
}
nav{
  align-items: center;
  border-bottom: 1px solid grey;
  background-color: rgba(128, 128, 128, 0.319);
  display: flex;
  height: 6rem;
  justify-content:space-between;
  width: 100%;
}
.container-link{
  align-items: center;
  display: flex;
  gap: 2rem;
  /* height: 100%; */
  padding-right: 2rem;
}

.container-link a{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  /* height: 100%; */

  text-decoration: none;
}
.container-link a:hover{
  background-color: beige;
  color: black;
  border-radius: 5px;
  height: 6rem;
  display: table-cell;
  vertical-align: middle;
}